<div class="d-flex justify-content-center">
    <div class="jumbotron" style="padding:40px 100px;">
        <h1 class="lang" key="SETTINGS">Settings</h1>
        <br>
        <div class="profile_details">
            <img src="<%- dp %> " alt="" style="width: 150px; height:auto; border-radius: 15px;">
            <br>
            <br>
            <h3><%- name %></h3>

        </div>

        <hr class="solid">
        <br>
        <h3 class="lang" key="Scheme">Scheme</h3>
        
        <button class="lang btn btn-toggle btn-dark" key="Dark">Dark Mode</button>
        <br>
        <br>
        <h3 class="lang" key="ChLang">Change Language</h3>
        <button class="translate btn btn-dark" id="en-gb">English</button>
        &nbsp;
        <button class="translate btn btn-dark" id="mal-bn">Melayu</button>
        <br>
        <br>
        <hr class="solid">
        <br>
        <h3 class="lang" key="DelAcc">Delete Account</h3>
        <button class="lang btn btn-warning" key="DelData">Delete Data</button>
        <button class="lang btn btn-danger" key="DelAcc">Delete Account</button>
        <br>
        <br>
    </div>
</div>
<footer><%- include ('partial/footer') %></footer>
<br>