/* Add Transaction Form */
.addForm {
    display: grid;
    place-items: center;
    margin-top: 7%;
    width: 100%;
}


#mode,
#category {
    border-radius: 5px;
    border: solid 2px #000;
    width: 90%;
    font-size: 1.2rem;
}

label .expense,
.income {
    font-size: 1.2rem;
}

.formTransaction {
    display: grid;
    flex-direction: column;
    width: auto;
    background: var(--bkg-color2);
    border-radius: 20px;
    box-shadow: 0px 3px 15px #323437da;
    padding: 2.5em;
    opacity: 0.85;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.addTrans input {
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 20px;
}

input#date,
#amount,
#comment {
    width: 90%;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #000;
}

input#date,
#comment {
    text-align: start;
}



@media (max-width: 620px) {
    .formTransaction {
        width: 80%;
    }

    #mode,
    #category,
    input#date,
    #amount,
    #comment {
        width: 60%;
    }
}

/* End Add Transaction Form */