<div class="row">
  <div class="col-md-4">
    <div id="checkBalance" class="jumbotron">
     
     
      <h3 class="lang" key="TotInc"></h3>
      <% var totalIncome = 0; %> 
      <% for( let i = 0; i < transactionData.length; i++ ) { %> 
        <% if (transactionData[i].type === 'Income') { %> 
          <% totalIncome += transactionData[i].amount; %> 
          <% if(totalIncome > 0) { %>
            <%  %>
            <script>
              let checkBalance = document.getElementById('checkBalance')
              checkBalance.style.backgroundColor = "rgba(0, 128, 0, 0.5)" 
            </script>
          <% } else { %>
            <!-- <script>
              checkBalance.style.backgroundColor = "rgba(255, 0, 0, 0.5)" 
            </script> -->
          <% } %> 
        <% } %> 
      <% } %>
      <h5>$<%= totalIncome.toFixed(2) %></h5>

      
    </div>
  </div>

  <div class="col-md-4">
    <div id="checkBalance2" class="jumbotron">
      <h3 class="lang" key="TotExpen"></h3>
      <% var totalExpense = 0; %> 
      <% for( let i = 0; i < transactionData.length; i++ ) { %> 
        <% if (transactionData[i].type === 'Expense') { %> 
          <% totalExpense += transactionData[i].amount; %> 
          <% if(totalExpense > totalIncome){ %>
            <!-- change more than 0 = red flag -->
            <script>
              let checkBalance2 = document.getElementById('checkBalance2')
              checkBalance2.style.backgroundColor = "rgba(0, 128, 0, 0.5)" 
            </script>
         <% } else { %>
          <script>
            checkBalance2.style.backgroundColor = "rgba(255, 0, 0, 0.5)" 
          </script>
          <% } %> 
        <% } %> 
      <% } %>
      <h5>$<%= totalExpense.toFixed(2) %></h5>
    </div>
  </div>

  <div class="col-md-4">
    <div id="checkBalance3" class="jumbotron">
      <h3 class="lang" key="Balance"></h3> 
      <!-- checking balance function to state negative or postive amount of balance -->
      <% var totalBalance = totalIncome-totalExpense %>
      <% if(totalBalance < 0){ %>
        <script>
          let checkBalance3 = document.getElementById('checkBalance3')
          checkBalance3.style.backgroundColor = "rgba(255, 0, 0, 0.5)" 
        </script>
      <% } else { %>
        <script>
          checkBalance3.style.backgroundColor = "rgba(0, 128, 0, 0.5)" 
        </script>
      <% } %> 
      <h5>$<%= totalBalance.toFixed(2) %></h5>
    </div>
  </div>
</div>
