<div class="row">
  <div class="col-md-4">
    <div class="jumbotron">
      <h4>Total Income</h4>
      <% var totalIncome = 0; %> 
      <% for( let i = 0; i < transactionData.length; i++ ) { %> 
        <% if (transactionData[i].type === 'Income') { %> 
          <% totalIncome += transactionData[i].amount; %> 
        <% } %> 
      <% } %>
      <h5>$<%= totalIncome.toFixed(2) %></h5>
    </div>
  </div>

  <div class="col-md-4">
    <div class="jumbotron">
      <h4>Total Expenses</h4>
      <% var totalExpense = 0; %> <% for( let i = 0; i < transactionData.length; i++ ) { %> 
        <% if (transactionData[i].type === 'Expense') { %> 
          <% totalExpense += transactionData[i].amount; %> 
        <% } %> 
      <% } %>
      <h5>$<%= totalExpense.toFixed(2) %></h5>
    </div>
  </div>

  <div class="col-md-4">
    <div class="jumbotron">
      <h4>Balance</h4>
      <% var totalBalance = totalIncome-totalExpense %>
      <h5>$<%= totalBalance.toFixed(2) %></h5>
    </div>
  </div>
</div>
