<div class="row">

    <div class="col-md-4">
        <h2>Balance</h2>
        <p>$50.00</p>
    </div>

    <div class="col-md-4">
        <h2>Total Expenses</h2>
        <p>$50.00</p>
    </div>

    <div class="col-md-4">
        <h2>Total Income</h2>
        <p>$50.00</p>
    </div>

</div>
