<div class="row">
    <div class="col-md-4">
      <div class="jumbotron">
        <h3>Livechart</h3>
        <p> Income vs Expenses </p>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="jumbotron">
        <h3>Piecharts</h3>
        <p>(Categories)</p>
      </div>
    </div>
  </div>
  
  </div>

  