
<nav class="navhead d-flex justify-content-center">
<ul class="navbar-nav">
    <li class="nav-item pl-2 mb-2 mb-md-0">
      <a href="/daily" type="button"
        class="btn btn-outline-danger btn-navbar waves-effect waves-light">All</a>
    </li>
    <li class="nav-item pl-2 mb-2 mb-md-0">
      <a href="/weekly" type="button"
        class="btn btn-outline-danger btn-navbar waves-effect waves-light">Weekly</a>
    </li>

    <li class="nav-item pl-2 mb-2 mb-md-0">
        <a href="/monthly" type="button"
          class="btn btn-outline-danger btn-navbar waves-effect waves-light">Monthly</a>
      </li>
  </ul>
</nav>
<br>