
<nav class="navhead d-flex justify-content-center">
<ul class="navbar-nav">
    <li class="nav-item pl-2 mb-2 mb-md-0">
      <a href="/dashboard" type="button" class="btn btn-outline-danger btn-navbar waves-effect waves-light filterBtn">All</a>
    </li>
    <li class="nav-item pl-2 mb-2 mb-md-0">
      <a href="/dashboard" type="button" class="btn btn-outline-danger btn-navbar waves-effect waves-light filterBtn">Last 7 days</a>
    </li>

    <li class="nav-item pl-2 mb-2 mb-md-0">
        <a href="/dashboard" type="button" class="btn btn-outline-danger btn-navbar waves-effect waves-light filterBtn">Last 30 days</a>
      </li>
  </ul>
</nav>
<br>