<main>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h1>This Months</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="jumbotron">
          <h1>Total Expenses</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </main>