
<div class="logo_content">
    <div class="logo">
        <img src="/img/logoWcs.png"/>
        <div class="logo_name">Usin.Qu</div>
    </div>
    <i class="fas fa-bars" id="navBtn"></i>
</div>
<ul class="nav_list">
    <li>
      <a href="/dashboard">
          <i class="fas fa-tachometer-alt"></i>
          <span class="navTitle">Dashboard</span>
      </a>
      <span class="toolTips">Dashboard</span>
    </li>
    <li>
        <a href="/addTransaction">
            <i class="fas fa-plus-square"></i>
            <span class="navTitle">Add Transaction</span>
        </a>
        <span class="toolTips">Add</span>  
    </li>
    <li>
        <a href="/history">
            <i class="fas fa-file-invoice-dollar"></i>
            <span class="navTitle">History</span>
        </a>
        <span class="toolTips">History</span>   
    </li>
    <li>
        <a href="/financial-advices">
            <i class="fas fa-comment-dollar"></i>
            <span class="navTitle">Financial Advices</span>
        </a>
        <span class="toolTips">Advices</span>   
    </li>
    <li>
        <a href="/setting">
            <i class="fas fa-cog"></i>
            <span class="navTitle">Settings</span>
        </a>
        <span class="toolTips">Settings</span>   
    </li>
</ul>
<div class="profile_content">
    <div class="profile">
        <div class="profile_details">
            <img src="<%- dp %> " alt="">
            <div class="name"><%- name %></div>
        </div>
        <a href="/auth/logout">
            <i class="fas fa-sign-out-alt" id="log_out"></i>
        </a>
    </div>
</div>