<div class="jumbotron" style="height:326px; width: auto;">
    <h5>Plan</h5>
    <div class="todoListContainer" style="height:274px; width: auto; overflow-y: scroll;">
      <input
        type="text"
        id="newTodo"
        maxlength="20"
        placeholder="Set your plan here"/>
      <button id="addTodo">
        <i class="fa fa-plus"></i>
      </button>
      <ul id="todoList"></ul>
    </div>
</div>
<footer><%- include ('../partial/footer') %></footer>