<div class="jumbotron">
    <h5>Plan</h5>
    <div class="todoListContainer">
      <input
        type="text"
        id="newTodo"
        maxlength="20"
        placeholder="Set your plan here"/>
      <button id="addTodo">
        <i class="fa fa-plus"></i>
      </button>
      <ul id="todoList"></ul>
    </div>
  </div>