<div class="container px-4 py-5">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column">
      <div class="card card2">
        <img id="image" src="/img/money.png" />
      </div>
      <div class="card card1">
        <div class="row justify-content-center my-auto">
          <div class="col-lg-8 my-5">
            <h1 class="mb-3">Usin.Qu</h1>
            <h5>Social sign in</h5>
            <div class="section">
              <a href="/auth/google" class="btn btn-danger">
                <i class="fab fa-google left"></i> Sign In With Google
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<<<<<<< Updated upstream
=======
<hr class="solid">
<div class="section">
    <h5>Register &</h5>
    <a href="/auth/google" class="btn btn-danger">
        <i class="fab fa-google left"></i> Sign In With Google   
    </a>
</div>
>>>>>>> Stashed changes
