<div class="row h-75 align-items-center justify-content-center">
  
  <div class="col-lg-8">
      <h3>Simplest way to manage personal finances.</h3>
      <hr class="solid">
      <h2>Because money matters.</h2>
  </div>
  <div class="col-lg-4"> 
      <div class="card">
          <div class="card-body">
            <div class="section d-flex align-items-center justify-content-center">
              <img src="/img/logoWcs.png" alt="logo" class="login_logo">
              <h2>Usin.Qu</h2>
            </div>
            <h5>Income & Expense Manager</h5>
            <br>
            <hr class="solid" style="background: #fff;">
            <div class="section">
              <h5>Register & Sign in</h5>
              <a href="/auth/google" class="btn btn-danger">
                  <i class="fab fa-google left"></i> with Google   
              </a>
            </div>
          </div>
      </div>
  </div>
  <h2><Span>"If you can't measure it, you can't Improve it" - Peter Drucker</Span></h2>
</div>

