
<div class="section">
    <h1>Usin.Qu</h1>
</div>
<hr class="solid">
<div class="section">
    <h5>Social sign in</h5>
    <a href="/auth/google" class="btn btn-danger">
        <i class="fab fa-google left"></i> Sign In With Google   
    </a>
</div>