<h1>THIS IS A SETTING PAGE</h1>

<h2> Dark Mode </h2>
<button class="btn-toggle btn-dark">Dark-Mode</button>

<h2> Change Language</h2>
<button class="btn btn-dark">English</button>
&nbsp;
<button class="btn btn-dark">Melayu</button>

<h2> Delete Account</h2>
<button class="btn btn-dark">Delete Data</button>
<button class="btn btn-dark">Delete Account</button>
<!--
<div class="wrapper align-items-center">
<div class="col-md-12 d-flex justify-content-center">
    <h2> Color Scheme</h2>
    <br>
    <button class="btn btn-light" onclick="swapStyle('style.css')">Light Mode</button>
    <button class="btn btn-dark" onclick="swapStyle('dark.css')">Dark Mode</button>
</div>

<script type="text/javascript">

    var setTheme = localStorage.getItem('theme')
    console.log('theme:', setTheme)

    if (setTheme == null){
        swapStyle('style.css')
    }else{
        swapStyle(setTheme)
    }

    function swapStyle(sheet){
        document.getElementById('mystylesheet').href = sheet
        localStorage.setItem('theme', sheet)
    }


    /*
    var setTheme = localStorage.getItem('theme')
    if (setTheme == null){
        swapStyles('light.css')
    }else{
        swapStyles(setTheme)
    }
        
    
    function swapStyles(sheet){
        document.getElementById('mystylesheet').href = sheet
        localStorage.setItem('theme', sheet)
    }
    */
    
</script>

-->