<p>Privacy  · Terms · Advertising · Ad choices · Cookies · <button type="button" class="easterEggBtn" data-toggle="modal" data-target="#easterEgg"><span class="eE">More</span></button> · Usin.Qu © 2021</p>


  
  <!-- Modal -->
  <div class="modal fade" id="easterEgg" tabindex="-1" role="dialog" aria-labelledby="easterEggLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="easterEggLabel"> <img src="/img/logoWcs.png" style="width: 40px; height:auto;" />Usin.Qu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>This WebApp is created as part of Coding.bn Final Fullstack Project.</h5>
          <br>
          <h6>Collaborators:</h6>
          
          <ul>
              <li>Hj Muhd Abdul Hafiiz Bin Hj Abdul Hamid</li>
              <li>Abdul Syafiq Bin Abdullah</li>
              <li>Zulfadli Bin Zulkafli</li>
          </ul>

          <hr>
          <h6>Contact us:</h6>
          <a href = "mailto: usinp3.bn2021@gmail.com">usinp3.bn2021@gmail.com</a>
        </div>
        <div class="modal-footer justify-content-center">
          <h5>Thank you visiting!!</h5>
        </div>
      </div>
    </div>
  </div>