<div class="jumbotron" style="height:326px; width: auto;">
    <h3 class="lang" key="Plan">Plan</h3>
    <div class="todoListContainer" style="height:274px; width: auto; overflow-y: scroll;">
      <div class="row d-flex justify-content-center m-0" style="position: sticky; top: 10px; ">
        <input
        type="text"
        id="newTodo"
        maxlength="20"
        placeholder="Set your plan here"/>
        <button id="addTodo">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      
      <ul id="todoList" style="margin-top: 0;"></ul>
      
    </div>
</div>
<footer class="mainFooter"><%- include ('../partial/footer') %></footer>