@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    
}

#mainBody {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    font-family: 'Arvo', serif !important;
}

.sidebar.active~#mainBody {
    width: calc(100% - 240px);
    left: 240px;
}

p {
    margin: 10px 0 !important;
}

.jumbotron {
    border-radius: 5px;
    background-color: #323437;
    padding: 20px;
}

/* button */
#updateDelete {
    margin: auto;
}

#updateDelete .text-decoration-none{
    float: left;
    width:50%;
    padding-top: 6px;
    margin: auto;
}


/* Login Page */
.card {
    position: relative;
    border: none;
}

.card1 {
    width: 45%;
    background-color: #3234374b;
    border: 2px solid #000;
}

.card2 {
    width: 55%;
    height: 700px;
    border: 2px solid #000;
    background-color: #E8EAF6;
}

#image {
    width: 100%;
    height: 100%;
    margin: auto;
}


/** Log in page Media Queries*/

@media screen and (max-width: 1000px) {

    .card {
        padding: 0;
        margin: 0;
    }

    .card1 {
        width: 80%;
    }

    .card2 {
        width: 80%;
        height: 50vh;
    }
}


/* Line and Radar Chart*/
#myChart {
    width: 90%;
    height:auto;
    margin:auto;
}

#myChart2 {
    width: 80%;
    height:auto;
    margin:auto;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

    /* defaults to dark theme */
    body.dark-theme {
        --text-color: #E4E6EB;
        --bkg-color1: #16171a;
        --bkg-color2: #323437;

    }

    body.light-theme {
        --text-color: #1C1E21;
        --bkg-color1: #E4E6EB;
        --bkg-color2: #fff;
    }

}

body {
    background: var(--bkg-color1);
}

.jumbotron{
    background: var(--bkg-color2);
    border-radius: 5px;
    padding:10px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
p,
tr,
th,
td,
form,
label,
#example_info,
#example i {
    color: var(--text-color);
}

.button {
    isolation: isolate;
}

/*login page*/

.login-container {
    text-align: center;
}

/*Transactions Section */
.m-b-15 h1 {
    text-align: center;
}

.addTransactions {
    position: absolute;
    bottom: 40%;
    right: 30%;
}

tr,
td {
    text-align: center;
}

/*tables*/

#transactionHistory {
    overflow-x: scroll;
}

#latestTransaction {
    overflow-x: scroll;
}

#latestTransaction .dataTables_filter {
    display: none;
}

#latestTransaction .dataTables_info {
    display: none;
}

#latestTransaction .dataTables_paginate {
    display: none;
}

/* To- do List */

.todoListContainer button {
    outline: none;
    cursor: pointer;
}

.todoListContainer {
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    margin: auto;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#todoList {
    text-align: left;
    list-style-type: none;
    margin: 0;
    margin-top: 60px;
    float: none;
    padding: 0;
    width: 100%;
}

.todotext{
    isolation: isolate;
    color: #000;
}

@keyframes fadein {
    from {
        background-color: #ffffab;
    }

    to {
        background-color: white;
    }
}

#todoList li {
    border: 0px;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px;
    margin: 5px auto;
    clear: both;
    transition: all 1.3s ease-in-out;
    animation: fadein 1.3s ease-in-out;
}

#todoList li p {
    display: inline-block;
    margin: 0;
    text-overflow: ellipsis !important;
    overflow: hidden;
    width: 75%;
    transition: all 0.3s ease;
}

#todoList li button {
    float: right;
    margin: -5px 5px;
    border-radius: 100%;
    border: 0px solid transparent;
    width: 25px;
    height: 25px;
    text-align: center;
}

#newTodo {
    padding: 10px;
    border-radius: 3px 0 0 3px;
    border: 0px;
    border-bottom: 1px solid #cecece;
    width: 230px;
    float: left;
    outline: none;
}

#addTodo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    border: 0px;
    background-color: #fc616d;
    cursor: pointer;
}

#addTodo .fa {
    color: white;
}

.lineThrough {
    text-decoration-line: line-through;
    color: lightgrey;
}

.doneTodo {
    background-color: #00d7a1;
    color: white;
}

.removeTodo {
    background-color: #f43449;
    color: white;
}

.doneTodoGrey {
    background-color: grey;
}

/*navbar & sidebar*/

.navhead ul,
li {
    display: inline-block;
}

.navhead a {
    font-size: 1.5rem;
}

.navbar {
    display: none;
}

footer {
    font-size: 9px;
    color: #323437;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

@media (max-width: 768px) {
    body {
        overflow-y: scroll;
    }

    #mainBody {
        height: calc(80%-132px);
        width: 100%;
        left: unset;
        top: 66px;
        bottom: 70px;
    }


    .fixed-top {
        display: flex;
    }

    .fixed-bottom {
        display: block;
    }

    .sidebar {
        display: none;
    }
    
    footer {
        display:none;
    }
    
}